.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f6f4e8;
  flex-direction: column;
}
.rtitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: #e59560;
}

form {
  display: flex;
  flex-direction: column;
  padding: 60px;
  background-color: white;
  width: 200px;
  gap: 20px;
}

input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid gray;
}

button {
  padding: 10px;
  border: none;
  background-color: #e59560;
  cursor: pointer;
  color: white;
}

p {
  font-size: 14px;
  color: red;
  text-align: center;
}

span {
  font-size: 14px;
  text-align: center;
}
