.navbar {
}

.ncontainer {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
}

.image {
  width: 120px;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

h6 {
  font-size: 16px;
  font-weight: 300;
}

span {
  cursor: pointer;
}

.write {
  background-color: #e59560;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.write:hover {
  color: #e59560;
  background-color: white;
  border: 1px solid #e59560;
  width: 58px;
  height: 58px;
}
